<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MacModel</key>
		<string>Macmini9,1</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir10,1</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro17,1</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro18,1</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro18,2</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro18,3</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac21,1</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac21,2</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac13,1</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac13,2</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>other</string>
		<key>iBootversion</key>
		<string>7429.81.3</string>
	</dict>
</array>
</plist>
