<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MacModel</key>
		<string>Macmini9,1</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir10,1</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro17,1</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro18,1</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro18,2</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro18,3</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro18,4</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac21,1</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac21,2</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac13,1</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac13,2</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,1</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,2</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,3</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,5</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,6</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,7</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,8</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,9</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,10</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,12</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,13</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,14</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac14,15</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac15,3</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac15,4</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac15,5</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac15,6</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac15,7</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac15,8</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac15,9</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac15,10</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>Mac15,11</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>other</string>
		<key>iBootversion</key>
		<string>10151.81.1</string>
	</dict>
</array>
</plist>
