<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AppName</key>
		<string>SystHist</string>
		<key>Version</key>
		<string>1.12</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/systhist112.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>LockRattler</string>
		<key>Version</key>
		<string>4.24</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/10/lockrattler424.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Revisionist</string>
		<key>Version</key>
		<string>1.7</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/08/revisionist17.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>T2M2</string>
		<key>Version</key>
		<string>1.14</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2020/02/t2m2114.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>xattred</string>
		<key>Version</key>
		<string>1.1</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/xattred11.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Podofyllin</string>
		<key>Version</key>
		<string>1.0b17</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/podofyllin10b17.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>DelightEd</string>
		<key>Version</key>
		<string>2.0b4</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2020/02/delighted20b4.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Dystextia</string>
		<key>Version</key>
		<string>1.6</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/dystextia16.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Nalaprop</string>
		<key>Version</key>
		<string>1.0b10</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/nalaprop10b10.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Apfelstrudel</string>
		<key>Version</key>
		<string>1.3</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/apfelstrudel13.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Consolation</string>
		<key>Version</key>
		<string>3.7</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2020/01/consolation37.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Ulbow</string>
		<key>Version</key>
		<string>1.1b3</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2020/02/ulbow11b3.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>32-bitCheck</string>
		<key>Version</key>
		<string>1.8</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/32bitcheck18.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Cirrus</string>
		<key>Version</key>
		<string>1.9</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2020/01/cirrus19.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Signet</string>
		<key>Version</key>
		<string>1.2</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/07/signet12.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>PermissionScanner</string>
		<key>Version</key>
		<string>1.6</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2020/02/permscan16.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>EFIcienC</string>
		<key>Version</key>
		<string>1.0b2</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/07/eficienc10b2.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>SilentKnight</string>
		<key>Version</key>
		<string>1.6</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2020/01/silentknight16.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Taccy</string>
		<key>Version</key>
		<string>1.8</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2020/01/taccy18.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Precize</string>
		<key>Version</key>
		<string>1.9</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/08/precize19.zip</string>
	</dict>
</array>
</plist>
