<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AppName</key>
		<string>SystHist</string>
		<key>Version</key>
		<string>1.10</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/05/systhist110.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>LockRattler</string>
		<key>Version</key>
		<string>4.20</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/05/lockrattler420.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Revisionist</string>
		<key>Version</key>
		<string>1.4</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/revisionist14.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>T2M2</string>
		<key>Version</key>
		<string>1.6</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/t2m216.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>xattred</string>
		<key>Version</key>
		<string>1.1</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/xattred11.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>Podofyllin</string>
		<key>Version</key>
		<string>1.0b17</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/podofyllin10b17.zip</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>DelightEd</string>
		<key>Version</key>
		<string>2.0b2</string>
		<key>URL</key>
		<string>https://eclecticlightdotcom.files.wordpress.com/2019/06/delighted20b2.zip</string>
	</dict>
</array>
</plist>
