<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MacModel</key>
		<string>iMac10,1</string>
		<key>EFIversion</key>
		<string>215.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac11,1</string>
		<key>EFIversion</key>
		<string>63.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac11,2</string>
		<key>EFIversion</key>
		<string>99.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac11,3</string>
		<key>EFIversion</key>
		<string>99.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac12,1</string>
		<key>EFIversion</key>
		<string>87.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac12,2</string>
		<key>EFIversion</key>
		<string>87.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac13,1</string>
		<key>EFIversion</key>
		<string>429.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>429.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac13,2</string>
		<key>EFIversion</key>
		<string>429.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>429.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac14,1</string>
		<key>EFIversion</key>
		<string>433.140.2.0.0</string>
		<key>EFIversion15</key>
		<string>433.140.2.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac14,2</string>
		<key>EFIversion</key>
		<string>433.140.2.0.0</string>
		<key>EFIversion15</key>
		<string>433.140.2.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac14,3</string>
		<key>EFIversion</key>
		<string>433.140.2.0.0</string>
		<key>EFIversion15</key>
		<string>433.140.2.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac14,4</string>
		<key>EFIversion</key>
		<string>478.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>478.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac15,1</string>
		<key>EFIversion</key>
		<string>478.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>478.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac16,1</string>
		<key>EFIversion</key>
		<string>489.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>489.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac16,2</string>
		<key>EFIversion</key>
		<string>489.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>489.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac17,1</string>
		<key>EFIversion</key>
		<string>526.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>526.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac18,1</string>
		<key>EFIversion</key>
		<string>526.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>526.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac18,2</string>
		<key>EFIversion</key>
		<string>526.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>526.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac18,3</string>
		<key>EFIversion</key>
		<string>526.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>526.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac19,1</string>
		<key>EFIversion</key>
		<string>2020.80.5.0.0</string>
		<key>EFIversion15</key>
		<string>2020.80.5.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac19,2</string>
		<key>EFIversion</key>
		<string>2020.80.5.0.0</string>
		<key>EFIversion15</key>
		<string>2020.80.5.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac20,1</string>
		<key>EFIversion</key>
		<string>2022.100.22.0.0</string>
		<key>iBridge</key>
		<string>21.16.4222.0.0</string>
		<key>EFIversion15</key>
		<string>2022.100.22.0.0</string>
		<key>iBridge15</key>
		<string>21.16.4222.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac20,2</string>
		<key>EFIversion</key>
		<string>2022.100.22.0.0</string>
		<key>iBridge</key>
		<string>21.16.4222.0.0</string>
		<key>EFIversion15</key>
		<string>2022.100.22.0.0</string>
		<key>iBridge15</key>
		<string>21.16.4222.0.0</string>
	</dict>
</array>
</plist>
