<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MacModel</key>
		<string>iMacPro1,1</string>
		<key>EFIversion</key>
		<string>220.270.99.0.0</string>
		<key>iBridge</key>
		<string>16.16.6568.0.0</string>
	</dict>
</array>
</plist>
