<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MacModel</key>
		<string>iMac10,1</string>
		<key>EFIversion</key>
		<string>215.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac11,1</string>
		<key>EFIversion</key>
		<string>63.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac11,2</string>
		<key>EFIversion</key>
		<string>99.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac11,3</string>
		<key>EFIversion</key>
		<string>99.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac12,1</string>
		<key>EFIversion</key>
		<string>87.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac12,2</string>
		<key>EFIversion</key>
		<string>87.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac13,1</string>
		<key>EFIversion</key>
		<string>287.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>288.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac13,2</string>
		<key>EFIversion</key>
		<string>287.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>288.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac14,1</string>
		<key>EFIversion</key>
		<string>139.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>140.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac14,2</string>
		<key>EFIversion</key>
		<string>139.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>140.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac14,3</string>
		<key>EFIversion</key>
		<string>139.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>140.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac14,4</string>
		<key>EFIversion</key>
		<string>199.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>200.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac15,1</string>
		<key>EFIversion</key>
		<string>230.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>231.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac16,1</string>
		<key>EFIversion</key>
		<string>229.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>231.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac16,2</string>
		<key>EFIversion</key>
		<string>229.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>231.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac17,1</string>
		<key>EFIversion</key>
		<string>170.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>173.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac18,1</string>
		<key>EFIversion</key>
		<string>175.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>178.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac18,2</string>
		<key>EFIversion</key>
		<string>175.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>178.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac18,3</string>
		<key>EFIversion</key>
		<string>175.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>178.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac19,1</string>
		<key>EFIversion</key>
		<string>220.270.93.0.0</string>
		<key>EFIversion15</key>
		<string>1037.40.118.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>iMac19,2</string>
		<key>EFIversion</key>
		<string>220.270.93.0.0</string>
		<key>EFIversion15</key>
		<string>1037.40.118.0.0</string>
	</dict>
</array>
</plist>
