<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro15,1</string>
		<key>EFIversion</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge</key>
		<string>19.16.14242.0.0</string>
		<key>EFIversion15</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge15</key>
		<string>19.16.14242.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro15,2</string>
		<key>EFIversion</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge</key>
		<string>19.16.14242.0.0</string>
		<key>EFIversion15</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge15</key>
		<string>19.16.14242.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro15,3</string>
		<key>EFIversion</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge</key>
		<string>19.16.14242.0.0</string>
		<key>EFIversion15</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge15</key>
		<string>19.16.14242.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro15,4</string>
		<key>EFIversion</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge</key>
		<string>19.16.14242.0.0</string>
		<key>EFIversion15</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge15</key>
		<string>19.16.14242.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro16,1</string>
		<key>EFIversion</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge</key>
		<string>19.16.14242.0.0</string>
		<key>EFIversion15</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge15</key>
		<string>19.16.14242.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro16,2</string>
		<key>EFIversion</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge</key>
		<string>19.16.14242.0.0</string>
		<key>EFIversion15</key>
		<string>1731.100.130.0.0</string>
		<key>iBridge15</key>
		<string>19.16.14242.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro6,1</string>
		<key>EFIversion</key>
		<string>99.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro6,2</string>
		<key>EFIversion</key>
		<string>99.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro7,1</string>
		<key>EFIversion</key>
		<string>68.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro8,1</string>
		<key>EFIversion</key>
		<string>87.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro8,2</string>
		<key>EFIversion</key>
		<string>87.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro8,3</string>
		<key>EFIversion</key>
		<string>87.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro9,1</string>
		<key>EFIversion</key>
		<string>425.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>425.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro9,2</string>
		<key>EFIversion</key>
		<string>425.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>425.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro10,1</string>
		<key>EFIversion</key>
		<string>425.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>425.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro10,2</string>
		<key>EFIversion</key>
		<string>425.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>425.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro11,1</string>
		<key>EFIversion</key>
		<string>432.60.3.0.0</string>
		<key>EFIversion15</key>
		<string>432.60.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro11,2</string>
		<key>EFIversion</key>
		<string>432.60.3.0.0</string>
		<key>EFIversion15</key>
		<string>432.60.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro11,3</string>
		<key>EFIversion</key>
		<string>432.60.3.0.0</string>
		<key>EFIversion15</key>
		<string>432.60.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro11,4</string>
		<key>EFIversion</key>
		<string>428.60.3.0.0</string>
		<key>EFIversion15</key>
		<string>428.60.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro11,5</string>
		<key>EFIversion</key>
		<string>428.60.3.0.0</string>
		<key>EFIversion15</key>
		<string>428.60.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro12,1</string>
		<key>EFIversion</key>
		<string>428.60.3.0.0</string>
		<key>EFIversion15</key>
		<string>428.60.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro13,1</string>
		<key>EFIversion</key>
		<string>447.80.3.0.0</string>
		<key>EFIversion15</key>
		<string>447.80.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro13,2</string>
		<key>EFIversion</key>
		<string>447.80.3.0.0</string>
		<key>EFIversion15</key>
		<string>447.80.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro13,3</string>
		<key>EFIversion</key>
		<string>447.80.3.0.0</string>
		<key>EFIversion15</key>
		<string>447.80.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro14,1</string>
		<key>EFIversion</key>
		<string>447.80.3.0.0</string>
		<key>EFIversion15</key>
		<string>447.80.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro14,2</string>
		<key>EFIversion</key>
		<string>447.80.3.0.0</string>
		<key>EFIversion15</key>
		<string>447.80.3.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookPro14,3</string>
		<key>EFIversion</key>
		<string>447.80.3.0.0</string>
		<key>EFIversion15</key>
		<string>447.80.3.0.0</string>
	</dict>
</array>
</plist>
