<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir3,1</string>
		<key>EFIversion</key>
		<string>110.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir3,2</string>
		<key>EFIversion</key>
		<string>110.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir4,1</string>
		<key>EFIversion</key>
		<string>135.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir4,2</string>
		<key>EFIversion</key>
		<string>135.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir5,1</string>
		<key>EFIversion</key>
		<string>429.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>429.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir5,2</string>
		<key>EFIversion</key>
		<string>429.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>429.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir6,1</string>
		<key>EFIversion</key>
		<string>478.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>478.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir6,2</string>
		<key>EFIversion</key>
		<string>478.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>478.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir7,1</string>
		<key>EFIversion</key>
		<string>486.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>486.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir7,2</string>
		<key>EFIversion</key>
		<string>486.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>486.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir8,1</string>
		<key>EFIversion</key>
		<string>2020.61.1.0.0</string>
		<key>iBridge</key>
		<string>21.16.2057.0.0</string>
		<key>EFIversion15</key>
		<string>2020.61.1.0.0</string>
		<key>iBridge15</key>
		<string>21.16.2057.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir8,2</string>
		<key>EFIversion</key>
		<string>2020.61.1.0.0</string>
		<key>iBridge</key>
		<string>21.16.2057.0.0</string>
		<key>EFIversion15</key>
		<string>2020.61.1.0.0</string>
		<key>iBridge15</key>
		<string>21.16.2057.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacBookAir9,1</string>
		<key>EFIversion</key>
		<string>2020.61.1.0.0</string>
		<key>iBridge</key>
		<string>21.16.2057.0.0</string>
		<key>EFIversion15</key>
		<string>2020.61.1.0.0</string>
		<key>iBridge15</key>
		<string>21.16.2057.0.0</string>
	</dict>
</array>
</plist>
