<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MacModel</key>
		<string>MacPro4,1</string>
		<key>EFIversion</key>
		<string>144.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacPro5,1</string>
		<key>EFIversion</key>
		<string>144.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacPro6,1</string>
		<key>EFIversion</key>
		<string>135.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>135.0.0.0.0</string>
	</dict>
 	<dict>
		<key>MacModel</key>
		<string>MacPro7,1</string>
		<key>EFIversion</key>
		<string>1037.100.359.0.0</string>
		<key>iBridge</key>
		<string>17.16.14263.0.0</string>
		<key>EFIversion15</key>
		<string>1037.100.362.0.0</string>
		<key>iBridge15</key>
		<string>17.16.14281.0.0</string>
	</dict>
</array>
</plist>
