<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MacModel</key>
		<string>MacPro4,1</string>
		<key>EFIversion</key>
		<string>144.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacPro5,1</string>
		<key>EFIversion</key>
		<string>144.0.0.0.0</string>
	</dict>
	<dict>
		<key>MacModel</key>
		<string>MacPro6,1</string>
		<key>EFIversion</key>
		<string>481.0.0.0.0</string>
		<key>EFIversion15</key>
		<string>481.0.0.0.0</string>
	</dict>
 	<dict>
		<key>MacModel</key>
		<string>MacPro7,1</string>
		<key>EFIversion</key>
		<string>2022.100.22.0.0</string>
		<key>iBridge</key>
		<string>21.16.5077.0.0</string>
		<key>EFIversion15</key>
		<string>2022.100.22.0.0</string>
		<key>iBridge15</key>
		<string>21.16.5077.0.0</string>
	</dict>
</array>
</plist>
