<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XProtect</key>
	<string>5295</string>
	<key>XProtectSeq</key>
	<string>5295</string>
	<key>XPremed</key>
	<string>151</string>
	<key>skint</key>
	<string>1.08</string>
	<key>macOS15</key>
	<string>4.0</string>
	<key>macOS14</key>
	<string>7.5</string>
	<key>macOS13</key>
	<string>7.5</string>
	<key>macOS12</key>
	<string>7.6</string>
	<key>RSR</key>
	<string>0</string>
	<key>URL</key>
	<string>https://eclecticlight.co/wp-content/uploads/2024/08/skint108.zip</string>
</dict>
</plist>
