<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XProtect</key>
	<string>2184</string>
	<key>XPremed</key>
	<string>125</string>
	<key>skint</key>
	<string>1.02</string>
	<key>macOS14</key>
	<string>3.1</string>
	<key>macOS13</key>
	<string>6.4</string>
	<key>macOS12</key>
	<string>7.3</string>
	<key>RSR</key>
	<string>0</string>
	<key>URL</key>
	<string>https://eclecticlightdotcom.files.wordpress.com/2024/02/skint102.zip</string>
</dict>
</plist>
