<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XProtect</key>
	<string>5270</string>
	<key>XPremed</key>
	<string>140</string>
	<key>skint</key>
	<string>1.07</string>
	<key>macOS15</key>
	<string>0.0</string>
	<key>macOS14</key>
	<string>5.0</string>
	<key>macOS13</key>
	<string>6.7</string>
	<key>macOS12</key>
	<string>7.5</string>
	<key>RSR</key>
	<string>0</string>
	<key>URL</key>
	<string>https://eclecticlight.co/wp-content/uploads/2024/06/skint107.zip</string>
</dict>
</plist>
