<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XProtect</key>
	<string>5293</string>
	<key>XProtect15</key>
	<string>5293</string>
	<key>XProtectSeq</key>
	<string>5293</string>
	<key>XPremed</key>
	<string>151</string>
	<key>Gatekeeper</key>
	<string>181</string>
	<key>Gatekeeper16</key>
	<string>181</string>
	<key>GatekeepDE</key>
	<string>8.0</string>
	<key>Gatekeep16DE</key>
	<string>8.0</string>
	<key>MRT</key>
	<string>1.93</string>
	<key>TCC</key>
	<string>140.18</string>
	<key>TCC15</key>
	<string>150.19</string>
	<key>TCC16</key>
	<string>150.19</string>
	<key>TCC17</key>
	<string>150.19</string>
	<key>TCC18</key>
	<string>150.19</string>
	<key>TCC19</key>
	<string>150.19</string>
	<key>TCC20</key>
	<string>150.19</string>
	<key>KEXT20</key>
	<string>20.0.0</string>
	<key>KEXT19</key>
	<string>19.4.0</string>
	<key>KEXT18</key>
	<string>18.0.0</string>
	<key>KEXT17</key>
	<string>17.0.0</string>
	<key>KEXT16</key>
	<string>16.4.0</string>
	<key>KEXT15</key>
	<string>15.6.1</string>
	<key>KEXT14</key>
	<string>14.5.1</string>
	<key>KEXT13</key>
	<string>13.2.1</string>
	<key>KEXT12</key>
	<string>12.5.0</string>
	<key>KEXT11</key>
	<string>11.6.1</string>
	<key>StudioDisplay</key>
	<string>17.0</string>
</dict>
</plist>
