<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XProtect</key>
	<string>2139</string>
	<key>XProtect15</key>
	<string>2139</string>
	<key>Gatekeeper</key>
	<string>181</string>
	<key>Gatekeeper16</key>
	<string>181</string>
	<key>GatekeepDE</key>
	<string>8.0</string>
	<key>Gatekeep16DE</key>
	<string>8.0</string>
	<key>MRT</key>
	<string>1.73</string>
	<key>TCC</key>
	<string>140.18</string>
	<key>TCC15</key>
	<string>150.19</string>
	<key>TCC16</key>
	<string>150.19</string>
	<key>KEXT16</key>
	<string>16.0.4</string>
	<key>KEXT15</key>
	<string>15.6.1</string>
	<key>KEXT14</key>
	<string>14.5.1</string>
	<key>KEXT13</key>
	<string>13.2.1</string>
	<key>KEXT12</key>
	<string>12.5.0</string>
	<key>KEXT11</key>
	<string>11.6.1</string>
</dict>
</plist>
